{% macro save_icon() -%}
<svg viewBox="0 0 24 24" aria-hidden="true"><path d="M5 4h12l2 2v14H5z"/><path d="M8 4v6h8V4"/><path d="M8 20v-6h8v6"/></svg>
{%- endmacro %}

{% macro reverse_icon() -%}
<svg viewBox="0 0 24 24" aria-hidden="true"><path d="M9 7H5v-4"/><path d="M5 7l4-4"/><path d="M5 7h9a6 6 0 1 1-5.2 9"/></svg>
{%- endmacro %}

{% macro edit_icon() -%}
<svg viewBox="0 0 24 24" aria-hidden="true"><path d="m4 20 4.5-1 9-9-3.5-3.5-9 9z"/><path d="M13.5 6.5 17 10"/><path d="M4 20h16"/></svg>
{%- endmacro %}

{% macro stop_icon() -%}
<svg viewBox="0 0 24 24" aria-hidden="true"><rect x="6" y="6" width="12" height="12" rx="1"/></svg>
{%- endmacro %}

{% macro resume_icon() -%}
<svg viewBox="0 0 24 24" aria-hidden="true"><path d="m8 5 11 7-11 7z"/></svg>
{%- endmacro %}
